<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">
        The Challenge Grows with Each Level
      </h2>
      <p class="about-top-text">
        The further you get, the more you'll need to plan your moves - no more
        just winging it. With every new level, the puzzles become more complex,
        requiring careful planning and strategy to solve.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <div class="about-item-bg"></div>
          <div class="about-item-content-wrapper">
            <picture>
              <source
                srcset="./img/about/about-img1-desk.png"
                media="(min-width: 1440px)"
                width="84"
                height="84"
              />
              <source
                srcset="./img/about/about-img1-mob.png"
                width="56"
                height="56"
              />
              <img
                class="about-img"
                src="./img/about/about-img1-mob.png"
                alt="Screenshot of the game"
                width="56"
                height="56"
                loading="lazy"
              />
            </picture>
            <div class="about-item-text-wrapper">
              <h3 class="about-item-title">Unlock New Stages:</h3>
              <p class="about-item-text">
                New levels keep coming and some are just mean. Like, did I
                actually get good at this or was I just lucky before?
              </p>
            </div>
          </div>
        </li>
        <li class="about-list-item">
          <div class="about-item-bg"></div>
          <div class="about-item-content-wrapper">
            <picture>
              <source
                srcset="./img/about/about-img2-desk.png"
                media="(min-width: 1440px)"
                width="84"
                height="84"
              />
              <source
                srcset="./img/about/about-img2-mob.png"
                width="56"
                height="56"
              />
              <img
                class="about-img"
                src="./img/about/about-img2-mob.png"
                alt="Screenshot of the game"
                width="56"
                height="56"
                loading="lazy"
              />
            </picture>
            <div class="about-item-text-wrapper">
              <h3 class="about-item-title">Timed Challenges & Boosters:</h3>
              <p class="about-item-text">
                Take on time-limited levels for bonus rewards, or use in-game
                boosters to clear more blocks
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="about-bottom-list">
        <li class="about-bottom-list-item">
          <div class="about-item-bg"></div>
          <div class="about-item-content-wrapper">
            <svg class="about-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <p class="about-bottom-item-text">
              Exciting challenges and the satisfaction of mastering each level
            </p>
          </div>
        </li>
        <li class="about-bottom-list-item">
          <div class="about-item-bg"></div>
          <div class="about-item-content-wrapper">
            <svg class="about-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <p class="about-bottom-item-text">
              Unlock new patterns and block combinations for even more fun
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
