<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        Tons of Fun, So Many Ways to Play
      </h2>
      <p class="features-top-text">
        Here’s why Clear Grid - Color Box Puzzle is the perfect game for
        relaxation and getting your brain working:
      </p>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-list-item">
            <div class="features-item-bg"></div>
            <div class="features-item-content-wrapper">
              <picture>
                <source
                  srcset="./img/features/features-img1-desk.png"
                  media="(min-width: 1440px)"
                  width="137"
                  height="137"
                />
                <source
                  srcset="./img/features/features-img1-mob.png"
                  width="85"
                  height="85"
                />
                <img
                  class="features-img"
                  src="./img/features/features-img1-mob.png"
                  alt="Screenshot of the game"
                  width="85"
                  height="85"
                  loading="lazy"
                />
              </picture>
              <div class="features-item-text-wrapper">
                <h3 class="features-item-title">Simple, Fun, and Addictive:</h3>
                <p class="features-item-text">
                  Anyone can figure out the drag-and-drop thing pretty quick.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <div class="features-item-bg"></div>
            <div class="features-item-content-wrapper">
              <picture>
                <source
                  srcset="./img/features/features-img2-desk.png"
                  media="(min-width: 1440px)"
                  width="137"
                  height="137"
                />
                <source
                  srcset="./img/features/features-img2-mob.png"
                  width="85"
                  height="85"
                />
                <img
                  class="features-img"
                  src="./img/features/features-img2-mob.png"
                  alt="Screenshot of the game"
                  width="85"
                  height="85"
                  loading="lazy"
                />
              </picture>
              <div class="features-item-text-wrapper">
                <h3 class="features-item-title">Offline Playable:</h3>
                <p class="features-item-text">
                  No internet required! Play anytime, anywhere.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <div class="features-item-bg"></div>
            <div class="features-item-content-wrapper">
              <picture>
                <source
                  srcset="./img/features/features-img3-desk.png"
                  media="(min-width: 1440px)"
                  width="137"
                  height="137"
                />
                <source
                  srcset="./img/features/features-img3-mob.png"
                  width="85"
                  height="85"
                />
                <img
                  class="features-img"
                  src="./img/features/features-img3-mob.png"
                  alt="Screenshot of the game"
                  width="85"
                  height="85"
                  loading="lazy"
                />
              </picture>
              <div class="features-item-text-wrapper">
                <h3 class="features-item-title">Improves Logic & Reflexes:</h3>
                <p class="features-item-text">
                  Reminds me of sudoku mixed with Tetris, except it actually
                  looks cool
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <div class="features-item-bg"></div>
            <div class="features-item-content-wrapper">
              <picture>
                <source
                  srcset="./img/features/features-img4-desk.png"
                  media="(min-width: 1440px)"
                  width="137"
                  height="137"
                />
                <source
                  srcset="./img/features/features-img4-mob.png"
                  width="85"
                  height="85"
                />
                <img
                  class="features-img"
                  src="./img/features/features-img4-mob.png"
                  alt="Screenshot of the game"
                  width="85"
                  height="85"
                  loading="lazy"
                />
              </picture>
              <div class="features-item-text-wrapper">
                <h3 class="features-item-title">Vibrant, Soothing Colors:</h3>
                <p class="features-item-text">
                  Those neon blocks are trippy - bright enough to light up your
                  whole room but somehow still relaxing?
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <div class="features-item-bg"></div>
            <div class="features-item-content-wrapper">
              <picture>
                <source
                  srcset="./img/features/features-img5-desk.png"
                  media="(min-width: 1440px)"
                  width="137"
                  height="137"
                />
                <source
                  srcset="./img/features/features-img5-mob.png"
                  width="85"
                  height="85"
                />
                <img
                  class="features-img"
                  src="./img/features/features-img5-mob.png"
                  alt="Screenshot of the game"
                  width="85"
                  height="85"
                  loading="lazy"
                />
              </picture>
              <div class="features-item-text-wrapper">
                <h3 class="features-item-title">Free to Play:</h3>
                <p class="features-item-text">
                  Download and start playing right away without spending a
                  penny.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="controls features-controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="features-dot active"></div>
          <div class="features-dot"></div>
          <div class="features-dot"></div>
          <div class="features-dot"></div>
          <div class="features-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <p class="features-bottom-text">
        With hundreds of levels and endless fun, it’s the perfect game to unwind
        and challenge yourself!
      </p>
    </div>
  </div>
</section>
