<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">Clear the Grid, Enjoy the Glow!</h1>
          <p class="hero-text">
            Been hooked on this Clear Grid game recently - those bright blocks
            are weirdly addictive, and you actually have to think about your
            moves. Solve puzzles by merging colorful blocks, and watch as the
            grid clears before your eyes. Looks simple enough but then you're
            sitting there for 10 minutes trying to figure out one level. Let's
            see what you've got.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.serialcloud.cleargrid"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Play Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
