<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay">Gameplay</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about">Challenges</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
      <a
        class="context-cta-link"
        href="https://play.google.com/store/apps/details?id=com.serialcloud.cleargrid"
        target="_blank"
        rel="noopener noreferrer"
        >Start Playing</a
      >
    </nav>
  </div>
</div>
